html, body {
    height: 100%;
    user-select: none;
}

.hide {
    display: none !important;
}

#questions, #start, #adbreak {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#questions {
    flex-direction: row;
}

#prizes {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: center;
    height: 100%;
    align-content: center;
    grid-row-gap: 10px;
    text-align: center;
}

#prizes div {
    border: solid 3px;
    background: lightgray;
    margin-right: -3px;
    padding: 20px;
}

#prizes :nth-child(3n+1) {
    border-radius: 20px 0 0 20px;
}

#prizes :nth-child(3n+0) {
    border-radius: 0 20px 20px 0;
}

#subcontainer {
    display: flex;
}

#prompt, #newPoints {
    padding: 20px;
    margin-bottom: 20px;
    border: gray solid 3px;
    background: lightgray;
}

#newPoints {
    margin-left: -3px;
    border-radius: 0 20px 20px 0;
}

#prompt {
    border-radius: 20px 0 0 20px;
}

#img img, #img video {
    height: 400px;
    object-fit: contain;
    border: solid 3px;
    border-radius: 20px;
    margin-right: 20px;
   
}

#answers {
    display: grid;
    grid-template-columns: auto auto;
    gap: 20px;
}

#answers >div {
    border: solid 3px;
    border-radius: 20px;
    padding: 20px;
}

#answers :nth-child(1)   {
    border-color: blue;
    background: lightblue;
} 

#answers :nth-child(2)   {
    border-color: red;
    background: pink;
} 

#answers :nth-child(3)   {
    border-color: yellow;
    background: lightyellow;
} 

#answers :nth-child(4)   {
    border-color: green ;
    background: lightgreen;
} 

#answers [data-notselected] {
    border-color: gray;
    background: lightgray;
} 

#answers[data-selectionconfirmed] [data-correct=true]{
    box-shadow: 0 0 30px 3px green;
}

#answers[data-selectionconfirmed] [data-correct=false]{
    box-shadow: 0 0 30px 3px red;
}

#answers[data-selectionconfirmed] [data-correct=true][data-selected] {
    box-shadow: 0 0 30px 15px green;
}

#answers[data-selectionconfirmed] [data-correct=false][data-selected]{
    box-shadow: 0 0 30px 3px red;
}

/* for the question about blue: */

#answers >div.colorful {
    font-weight: bold;
    font-size: 2em;
}

#answers :nth-child(1).colorful   {
    color: green;
    background: lightyellow;
} 

#answers :nth-child(2).colorful   {
    color: yellow;
    background: lightblue;
} 

#answers :nth-child(3).colorful   {
    color: red;
    background: lightgreen;
} 

#answers :nth-child(4).colorful   {
    color: blue;
    background: pink;
} 

#answers [data-notselected].colorful {
    border-color: gray;
    background: lightgray;
    color: lightgray;
} 
