html, body {
    height: 100%;
    user-select: none;
    font-size: 4vh;
    margin: 0;
}

#logo {
    width: 7vh;
    position: absolute;
    top: 2%;
    left: 2%;
}

.hide {
    display: none !important;
}

h1 {
    font-size: 5em;
}

#questions, #start, #adbreak {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#start {
    justify-content: start;
    padding-top: 2%;
}

#start h1, #adbreak h1 {
    background-image: linear-gradient(to right, violet, indigo, blue, green, yellow, orange, red);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

#adbreak {
    background: radial-gradient(violet, indigo, blue, green, yellow, orange, red)
}

@keyframes drop {
    from {top: -100%}
    to {top: 0}
}

#company, #presents, #title {
    margin-top: .5em;
    margin-bottom: .5em;
    position: relative;
    animation-name: drop;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    animation-fill-mode: backwards;
}

#presents {
    animation-delay: 1.5s;
}

#title {
    animation-delay: 3s;
}

#questions {
    flex-direction: row;
    width: 90%;
    margin: auto;
}

#prizes,#victory {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: center;
    height: 100%;
    align-content: center;
    grid-row-gap: 10px;
    text-align: center;
}

#prizes div, #prizelist div {
    border: solid 3px;
    background: lightgray;
    margin-right: -3px;
    padding: 20px;
}

#prizes :nth-child(3n+1), #prizelist :nth-child(3n+1){
    border-radius: 20px 0 0 20px;
}

#prizes :nth-child(3n+0), #prizelist :nth-child(3n+0) {
    border-radius: 0 20px 20px 0;
}


#prizelist {
    margin-top:3em;
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: center;
    height: 80%;
    width: 70%;
    align-content: center;
    grid-row-gap: 10px;
    text-align: center;
}

#victory div {
    border: solid 3px;
    background: lightgray;
    margin-right: -3px;
    padding: 20px;
}

#victory :nth-child(3n+1) {
    border-radius: 20px 0 0 20px;
}

#victory :nth-child(3n+0) {
    border-radius: 0 20px 20px 0;
}
#victory :nth-child(1), #prizes .victory1 {
    background-image: linear-gradient(to right, violet, indigo);
    border: 3px solid green;
    color: white;
}
#victory :nth-child(2), #prizes .victory2 {
    background-image: linear-gradient(to right, indigo, blue, green, chartreuse);
    border: 3px solid green;
    color: white;
}
#victory :nth-child(3), #prizes .victory3 {
    background-image: linear-gradient(to right, chartreuse, yellow, orange, red);
    border: 3px solid green;
    color: white;
}


#jokerlist {
    position:absolute;
    right:5em;
    top:35%;
    width: 30%;
    display:grid;
    justify-content: center;
    grid-row-gap: 10px;
    text-align: center;
}

#jokerlist div {
    border: solid 2px;
    border-radius: 5px;
    margin: 5px;
    padding: 5px;
}

#container {
    height:80%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
}

#subcontainer {
    display: flex;
}

#prompt, #newPoints {
    padding: 20px;
    margin-bottom: 20px;
    border: gray solid 3px;
    background: lightgray;
}

#newPoints {
    margin-left: -3px;
    border-radius: 0 20px 20px 0;
}

#prompt {
    border-radius: 20px 0 0 20px;
}

#img{
    height: 100%;
    display: flex;
    align-items: center;
}
#img img, #img video {
    height: 60%;
    object-fit: contain;
    border: solid 3px;
    border-radius: 20px;
    margin-right: 20px;
   
}

#points {
    border: solid 3px;
    border-radius: 50%;
    padding: 20px; 
    border-color: gray;
    background: lightgray;
}

#points::before {
    content: "Punkte: ";
}

#jokers {
    display: flex;
}

#jokers div {
    border: solid 2px;
    border-radius: 5px;
    margin: 5px;
    padding: 5px;
}

#jokers .used {
    border: solid 2px lightgray;
    color: lightgray;
}

#answers {
    display: grid;
    grid-template-columns: auto auto;
    gap: 20px;
}

#answers >div {
    border: solid 3px;
    border-radius: 20px;
    padding: 20px;
}

#answers :nth-child(1)   {
    border-color: blue;
    background: lightblue;
} 

#answers :nth-child(2)   {
    border-color: red;
    background: pink;
} 

#answers :nth-child(3)   {
    border-color: yellow;
    background: lightyellow;
} 

#answers :nth-child(4)   {
    border-color: green ;
    background: lightgreen;
} 

#answers [removed] {
    border-color: lightgray !important;
    background: white !important;
    color: lightgray !important;
}

#answers [data-notselected] {
    border-color: gray;
    background: lightgray;
}

#answers[data-selectionconfirmed] [data-correct=true]{
    box-shadow: 0 0 30px 3px green;
}

#answers[data-selectionconfirmed] [data-correct=false]{
    box-shadow: 0 0 30px 3px red;
}

#answers[data-selectionconfirmed] [data-correct=true][data-selected] {
    box-shadow: 0 0 30px 15px green;
}

#answers[data-selectionconfirmed] [data-correct=false][data-selected]{
    box-shadow: 0 0 30px 3px red;
}

/* for the question about blue: */

#answers >div.colorful {
    font-weight: bold;
    font-size: 2em;
}

#answers :nth-child(1).colorful   {
    color: green;
    background: lightyellow;
} 

#answers :nth-child(2).colorful   {
    color: yellow;
    background: lightblue;
} 

#answers :nth-child(3).colorful   {
    color: red;
    background: lightgreen;
} 

#answers :nth-child(4).colorful   {
    color: blue;
    background: pink;
} 

#answers [data-notselected].colorful {
    border-color: gray;
    background: lightgray;
    color: lightgray;
} 
